@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@300&family=Source+Code+Pro&family=Style+Script&family=Work+Sans:wght@300&family=Yanone+Kaffeesatz&display=swap');


.App{
    min-height: 100vh;
    display: flex;
    background-image: url(./bg2.jpg);
    background-size:cover;
    background-position: center;
}